<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sudoku</title>
    <link rel="stylesheet" href="/tabuleiro.css">
    <script src="/sudoku.js"></script>
</head>
<body>
    <h1>Sudoku</h1>
    <div class="sudoku-board">
        <th:block th:each="i : ${#numbers.sequence(0,8)}">
            <th:block th:each="j : ${#numbers.sequence(0,8)}">
                <input class="sudoku-cell"
                       th:id="'cell-' + ${i} + '-' + ${j}"
                       th:attr="data-pos=${i + '-' + j}"
                       maxlength="1"
                       type="text"
                       th:value="${spaces[T(java.lang.String).format('%d-%d', i, j)]?.valor}"
                       th:classappend="${spaces[T(java.lang.String).format('%d-%d', i, j)]?.isValid == false} ? 'invalid-cell' : ''"/>
            </th:block>
        </th:block>
    </div>
    <div class="controls">
        <button id="solve-button">Resolver</button>
        <button id="reset-button">Limpar</button>
    </div>
</body>
</html>